---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 110
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
PointerAlignment: Left
NamespaceIndentation: None
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
BinPackArguments: false
BinPackParameters: false
